@use '../base/variables' ;

.footer {
    background-color: variables.$secondary-color-gray;
    padding: 100px 0 24px 0;

    >.container {
      display: flex;
      flex-direction: column;
      gap: 55px;
    }
}

/*============================== Responsividade ==============================*/
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media only screen and (max-width: 1024px) {
  .footer {
   
  }
}