  @use '../base/variables';
  @use '../base/grid';

  .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {

          transition: .45s all;

          &__img {
              width: 85px;
              height: 41px;
          }

          &:hover {
              opacity: 0.8;
              transition: .35s all;
          }
      }

      &__menu {

          &__list {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 20px;

              &__item {

                  &__link {
                      display: flex;
                      align-items: center;
                      position: relative;
                      // min-height: 77px;
                      padding: 8px 16px;
                      font-size: 12px;
                      color: variables.$primary-color-white;
                      border-radius: calc(.5rem - 2px);
                      ;
                      font-weight: 400;
                      line-height: 16px;
                      text-decoration: none;
                      background: #0309B5;
                      gap: 5px;
                  }
              }
          }
      }

      &__toggle {
          display: none;
      }
  }

  @media (max-width: 1200px) {
      .nav {

          &__menu {
              position: absolute;
              flex-direction: row-reverse;
              align-items: flex-start;
              justify-content: flex-end;
              // height: 100%;
              width: 100%;
              background: variables.$primary-color-white;
              // transform: translate(50%, 0);
              // left: 50%;
              top: 71px;
              padding: 64px;
              scrollbar-width: thin;
              right: -999px;
              transition: all .8s ease;
              opacity: 0;

              &--active {
                  right: 0;
                  transition: all .4s ease;
                  opacity: 1;
              }

              &__list {
                  flex-direction: column;

                  align-items: flex-start;

                  &__item {

                      &__link {
                          width: 113px;
                      }
                  }
              }
          }

          &__toggle {
              display: flex;

              .uil-times,
              .bx-menu {
                  display: flex;

                  &--active {
                      display: none;
                  }
              }
          }
      }
  }